.main-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.second-container {
    display: flex;
    justify-content: center;
}

.third-container {
    display: flex;
    justify-content: center;
}