.skills-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.skills-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.skills-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10%;
}

.skills-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skills-card img {
  height: 100px;
  width: 100px;
}

.skills-hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}
